.card {
  position: relative;
  max-width: 200px;
}
.card img {
  width: 100%;
  display: block;
  box-shadow: 2px 2px 5px #000;
  border-radius: 15px;
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}